In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection
from sklearn.metrics import classification_report
import numpy as np
import ml
from sklearn.model_selection import train_test_split

In [2]:
#Connecting to the Mongo Database to get the data

client = MongoClient(port=27017)
db = client.Tweeter
collection = db.tweets
df = pd.DataFrame(list(collection.find()))

In [3]:
df

,_id,user,label,tweets
0,0,887281,BOT,[{'created_at': 'Mon May 16 20:30:58 +0000 202...
1,1,678033,HUMAN,[{'created_at': 'Sat May 21 02:35:45 +0000 202...
2,2,5856182,BOT,[{'created_at': 'Fri May 20 11:58:41 +0000 202...
3,3,806975,HUMAN,[{'created_at': 'Fri May 20 23:56:03 +0000 202...
4,4,14418605,BOT,[{'created_at': 'Tue Jul 30 22:24:05 +0000 201...
...,...,...,...,...
2495,2495,2364672758,HUMAN,[{'created_at': 'Sun Jul 26 22:38:18 +0000 201...
2496,2496,395458764,BOT,[{'created_at': 'Sat Mar 19 19:43:24 +0000 202...
2497,2497,2364902995,HUMAN,[{'created_at': 'Thu Jul 31 18:22:00 +0000 201...
2498,2498,396755498,BOT,[{'created_at': 'Sat Jun 01 00:17:10 +0000 201...
2499,2499,2365375243,HUMAN,[{'created_at': 'Sat Jul 25 04:14:29 +0000 201...

In [10]:
MONGO_DB_URI = "mongodb://localhost:27017"
from dataset import getFeaturesFromDBData

df = getFeaturesFromDBData(MONGO_DB_URI)

User 21630333 (BOT) has no tweets in the database
User 22036045 (HUMAN) has no tweets in the database
User 22730529 (HUMAN) has no tweets in the database
User 23220415 (BOT) has no tweets in the database
User 23223395 (HUMAN) has no tweets in the database
User 23222867 (BOT) has no tweets in the database
User 23224336 (BOT) has no tweets in the database
User 23258087 (BOT) has no tweets in the database
User 23258968 (BOT) has no tweets in the database
User 25070587 (HUMAN) has no tweets in the database
User 23272942 (BOT) has no tweets in the database
User 24221453 (BOT) has no tweets in the database
User 31626280 (HUMAN) has no tweets in the database
User 25008627 (BOT) has no tweets in the database
User 25292754 (BOT) has no tweets in the database
User 33114252 (BOT) has no tweets in the database
User 37193429 (BOT) has no tweets in the database
User 37967468 (BOT) has no tweets in the database
User 43624887 (BOT) has no tweets in the database
User 49548467 (BOT) has no tweets in the database
User 60649090 (BOT) has no tweets in the database
User 65192467 (BOT) has no tweets in the database
User 78437819 (HUMAN) has no tweets in the database
User 65937313 (BOT) has no tweets in the database
User 78746840 (HUMAN) has no tweets in the database
User 75709013 (BOT) has no tweets in the database
User 77636971 (BOT) has no tweets in the database
User 84754828 (BOT) has no tweets in the database
User 128212714 (HUMAN) has no tweets in the database
User 145891134 (BOT) has no tweets in the database
User 313631223 (BOT) has no tweets in the database
User 316787368 (BOT) has no tweets in the database
User 317348282 (BOT) has no tweets in the database
User 349287525 (BOT) has no tweets in the database
User 357826558 (BOT) has no tweets in the database
User 385096188 (BOT) has no tweets in the database
User 455070690 (BOT) has no tweets in the database
User 466195745 (BOT) has no tweets in the database
User 466458490 (BOT) has no tweets in the database
User 373449038 (HUMAN) has no tweets in the database
User 400939896 (HUMAN) has no tweets in the database
User 815902854 (BOT) has no tweets in the database
User 817745161 (BOT) has no tweets in the database
User 465375874 (HUMAN) has no tweets in the database
User 818078893 (BOT) has no tweets in the database
User 466225307 (HUMAN) has no tweets in the database
User 466394064 (HUMAN) has no tweets in the database
User 467060783 (HUMAN) has no tweets in the database
User 467124165 (HUMAN) has no tweets in the database
User 467177745 (HUMAN) has no tweets in the database
User 538877096 (HUMAN) has no tweets in the database
User 588325943 (HUMAN) has no tweets in the database
User 21365952 (BOT) has no tweets in the database
User 21972434 (BOT) has no tweets in the database
User 30993019 (BOT) has no tweets in the database
User 36299291 (BOT) has no tweets in the database
User 46609919 (BOT) has no tweets in the database
User 50613517 (BOT) has no tweets in the database
User 75807122 (BOT) has no tweets in the database
User 92525390 (BOT) has no tweets in the database
User 95439836 (BOT) has no tweets in the database
User 101399567 (BOT) has no tweets in the database
User 110962110 (BOT) has no tweets in the database
User 136277724 (BOT) has no tweets in the database
User 141886393 (BOT) has no tweets in the database
User 144038714 (BOT) has no tweets in the database
User 146913214 (BOT) has no tweets in the database
User 147107988 (BOT) has no tweets in the database
User 147813988 (BOT) has no tweets in the database
User 153575796 (BOT) has no tweets in the database
User 184849544 (BOT) has no tweets in the database
User 186690040 (BOT) has no tweets in the database
User 197989988 (BOT) has no tweets in the database
User 199173600 (BOT) has no tweets in the database
User 199815995 (BOT) has no tweets in the database
User 217230913 (BOT) has no tweets in the database
User 221009412 (BOT) has no tweets in the database
User 233145356 (BOT) has no tweets in the database
User 237411569 (BOT) has no tweets in the database
User 239732544 (BOT) has no tweets in the database
User 249292320 (BOT) has no tweets in the database
User 252818860 (BOT) has no tweets in the database
User 253830036 (BOT) has no tweets in the database
User 254059795 (BOT) has no tweets in the database
User 254716078 (BOT) has no tweets in the database
User 287086995 (BOT) has no tweets in the database
User 299104372 (BOT) has no tweets in the database
User 300344289 (BOT) has no tweets in the database
User 303360713 (BOT) has no tweets in the database
User 305892291 (BOT) has no tweets in the database
User 310445390 (BOT) has no tweets in the database
User 318156874 (BOT) has no tweets in the database
User 322560937 (BOT) has no tweets in the database
User 333805197 (BOT) has no tweets in the database
User 338107834 (BOT) has no tweets in the database
User 338873800 (BOT) has no tweets in the database
User 349398753 (BOT) has no tweets in the database
User 354306025 (BOT) has no tweets in the database
User 362228315 (BOT) has no tweets in the database
User 389134388 (BOT) has no tweets in the database

In [14]:
df["label"] = df["label"].map({"HUMAN": 0, "BOT": 1}) 
#Map BOT label to 1 and Human label to 0
pprint(df.head())

   has_bot_word_in_descriptionbot_word_in_description  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   has_bot_word_in_descriptionnot_bot_word_in_description  \
0                                                  1
1                                                  1
2                                                  1
3                                                  1
4                                                  1

   has_bot_word_in_namebot_word_in_name  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

   has_bot_word_in_namenot_bot_word_in_name  \
0                                         1
1                                         1
2                                         1
3                                         1
4                                         1

   has_bot_word_in_screen_namebot_word_in_screen_name  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   has_bot_word_in_screen_namenot_bot_word_in_screen_name  numbers_in_name  \
0                                                  1                     0
1                                                  1                     0
2                                                  1                     0
3                                                  1                     0
4                                                  1                     0

   numbers_in_screen_name  user_description_length  user_followers_count  ...  \
0                       0                       29                   747  ...
1                       0                      138                  9435  ...
2                       0                       85                 15590  ...
3                       0                      158                  7393  ...
4                       0                       31                   317  ...

   max_min_tweets_per_daymean  max_min_tweets_per_daymedian  \
0                    0.715867                           0.0
1                   24.875000                          27.0
2                    4.422222                           2.0
3                    0.506329                           0.0
4                   24.428571                          25.0

   max_min_tweets_per_daystd  max_min_tweets_per_dayskew  \
0                   1.275835                    3.026354
1                  12.584092                   -0.155428
2                   5.057399                    1.993094
3                   1.024676                    3.710280
4                  10.808160                   -1.165525

   max_min_tweets_per_daykurtosis  max_min_tweets_per_dayentropy  \
0                       12.424427                       4.427690
1                       -0.405716                       1.926057
2                        4.538208                       3.265998
3                       22.147692                       4.602597
4                        0.441207                       1.798862

   max_occurence_of_same_gap  total_days  total_hours  label
0                          1         270   23351504.0      1
1                          3           6     527927.0      0
2                          4          44    3812163.0      1
3                          2         394   34125968.0      0
4                          4           5     516548.0      1

[5 rows x 37 columns]

In [15]:
df

,has_bot_word_in_descriptionbot_word_in_description,has_bot_word_in_descriptionnot_bot_word_in_description,has_bot_word_in_namebot_word_in_name,has_bot_word_in_namenot_bot_word_in_name,has_bot_word_in_screen_namebot_word_in_screen_name,has_bot_word_in_screen_namenot_bot_word_in_screen_name,numbers_in_name,numbers_in_screen_name,user_description_length,user_followers_count,...,max_min_tweets_per_daymean,max_min_tweets_per_daymedian,max_min_tweets_per_daystd,max_min_tweets_per_dayskew,max_min_tweets_per_daykurtosis,max_min_tweets_per_dayentropy,max_occurence_of_same_gap,total_days,total_hours,label
0,0,1,0,1,0,1,0,0,29,747,...,0.715867,0.0,1.275835,3.026354,12.424427,4.427690,1,270,23351504.0,1
1,0,1,0,1,0,1,0,0,138,9435,...,24.875000,27.0,12.584092,-0.155428,-0.405716,1.926057,3,6,527927.0,0
2,0,1,0,1,0,1,0,0,85,15590,...,4.422222,2.0,5.057399,1.993094,4.538208,3.265998,4,44,3812163.0,1
3,0,1,0,1,0,1,0,0,158,7393,...,0.506329,0.0,1.024676,3.710280,22.147692,4.602597,2,394,34125968.0,0
4,0,1,0,1,0,1,0,0,31,317,...,24.428571,25.0,10.808160,-1.165525,0.441207,1.798862,4,5,516548.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,0,1,0,1,0,1,0,0,42,116,...,0.206186,0.0,1.109826,7.514800,68.437147,3.004626,8,484,41854175.0,0
2396,0,1,0,1,0,1,0,0,0,5,...,0.073840,0.0,3.813379,51.882511,2689.862993,0.031612,6,2694,232800308.0,1
2397,0,1,0,1,0,1,0,0,11,21,...,0.840000,0.0,2.295735,3.734874,16.623612,2.899284,10,124,10735045.0,0
2398,0,1,0,1,0,1,0,1,0,13,...,4.326087,4.5,2.511317,0.147694,-0.688584,3.628717,3,44,3849687.0,1
2399,0,1,0,1,0,1,0,0,105,107,...,0.219008,0.0,1.148827,7.136597,61.327994,3.031400,9,482,41705693.0,0

In [50]:
model, metrics = ml.randomForest(df)
pprint(metrics)

{'accuracy': 0.8347222222222223,
 'f1': 0.8297567954220315,
 'precision': 0.8333333333333334,
 'recall': 0.8262108262108262}

In [68]:
Y = df.label.copy()
X = df.copy()
X = X.drop(columns=['label'])
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
dfs = []
models = [
          ('LogReg', LogisticRegression()), 
          ('RF', RandomForestClassifier()),
          ('KNN', KNeighborsClassifier()),
          ('SVM', SVC()), 
          ('GNB', GaussianNB()),
         # ('XGB', XGBClassifier())
        ]
results = []
names = []
scoring = ['accuracy', 'precision_weighted', 'recall_weighted', 'f1_weighted', 'roc_auc']
target_names = ['BOT', 'HUMAN']
for name, model in models:
    kfold = model_selection.KFold(n_splits=5, shuffle=True, random_state=90210)
    cv_results = model_selection.cross_validate(model, X_train, y_train, cv=kfold, scoring=scoring)
    clf = model.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print(name)
    print(classification_report(y_test, y_pred, target_names=target_names))
        
results.append(cv_results)
names.append(name)
this_df = pd.DataFrame(cv_results)
this_df['model'] = name
dfs.append(this_df)
    
final = pd.concat(dfs, ignore_index=True)

d:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogReg
              precision    recall  f1-score   support

         BOT       0.67      0.71      0.69       262
       HUMAN       0.62      0.58      0.60       218

    accuracy                           0.65       480
   macro avg       0.65      0.64      0.64       480
weighted avg       0.65      0.65      0.65       480

RF
              precision    recall  f1-score   support

         BOT       0.83      0.84      0.83       262
       HUMAN       0.80      0.79      0.80       218

    accuracy                           0.82       480
   macro avg       0.82      0.81      0.81       480
weighted avg       0.82      0.82      0.82       480

KNN
              precision    recall  f1-score   support

         BOT       0.65      0.65      0.65       262
       HUMAN       0.58      0.58      0.58       218

    accuracy                           0.61       480
   macro avg       0.61      0.61      0.61       480
weighted avg       0.61      0.61      0.61       480

SVM
              precision    recall  f1-score   support

         BOT       0.57      0.80      0.67       262
       HUMAN       0.54      0.28      0.37       218

    accuracy                           0.56       480
   macro avg       0.56      0.54      0.52       480
weighted avg       0.56      0.56      0.53       480

GNB
              precision    recall  f1-score   support

         BOT       0.68      0.61      0.64       262
       HUMAN       0.58      0.65      0.61       218

    accuracy                           0.63       480
   macro avg       0.63      0.63      0.63       480
weighted avg       0.63      0.63      0.63       480